@import 'https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin';
.ui_container {
  margin: 0px;
  padding:0 30px 30px 30px;
  background: rgba(34, 34, 34, 0.75);
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.33;
  color: rgba(0, 0, 0, 0.8);
  font-smoothing: antialiased;
  display: block;
  float: left;
  width: 58%;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 1.0);
  position: absolute;
  bottom:50px;
  left:50px;
  color:#fff;
}
.chatblock{text-align: center;padding:10px; font-size:25px; margin:0}
.helplinks{margin: 0 auto;width: 85%;word-wrap: break-word;}
body{background: url('office.jpg') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

.ui_container a {
  background: transparent;
}

.ui_container a:active,
.ui_container a:hover {
  outline: 0;
}

.ui_container a {
  color: #4B9307;
  text-decoration: none;
}

.ui_container a:hover {
  color: #9AA293;
}
.div_or{padding:0 30px;font-size: 15px;}

@media (max-width: 736px){
    .ui_container {
        width: 90%; 
        margin:0 auto 15px auto;
        position:relative;
        left:5%; 
        top:15px; 
    }
    body{width:100%;margin:0;padding:0}
    .helplinks{width: 100%;}
}

@media(max-width: 480px){
    .chatblock a{display:block}

}