@font-face {
  font-family: 'Exo 2';
  src: url('../fonts/Exo2.0-Thin.otf') format('opentype'),
         url('../fonts/Exo2_0Thin.woff2') format('woff2'),
         url('../fonts/Exo2_0Thin.woff') format('woff'),
         url('../fonts/Exo2_0Thin.ttf') format('truetype'),
         url('../fonts/Exo2_0Thin.svg#Exo2_0Thin') format('svg'); 
  font-style: normal;
}

